html, body{
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    /* overflow:hidden; */
}

html{
    background-color: white;
}

/* body{
    background-color: #E0FFFF;
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 10px;
} */

li a{
    cursor:pointer;
}

#head{
    /* margin-left: 15px; */
    width: 1000px;
}

#head div{
    display:none;
}

#left-menu{
    width: 16%;
    height: 100%;
    background-color: #78d993;
    display:inline-block;
    float:left;
}

#left-menu div{
    display:none;
}

#contenu{
    width: 83%;
    height: 100%;
    float:left;
}

#contenu div{
    display:none;
}

#conteneurContenu{
    margin-left:12px;
    margin-right:12px;
}

.contenuCache{
    /* display:none !important; */
}

.contenuVisible{
    display:block !important;
}

#footer{
    width: 100%;
    height: 16%;
    clear:both;
}

#footer span{
    color: #86dc00;
}

.current a{
    background: #78d993 !important;
}

.menu{
    border-radius:5px 5px 0px 0px;
    width:98.8%;
}

.headActive{
    display:block !important;
}

.leftMenuActive{
    display:block !important;
}

.contentActive{
    display:inline-block !important;
}